<h1>Questions</h1>

<ul>
  <% @questions.each do |question| %>
  <li><%= link_to question.question, question_path(question) %></li>
  <%= link_to "I know!", new_question_response_path(question), class:"btn btn-success" %>
  <%= link_to "Delete Question", question_path(question), class:"btn btn-danger",
  :method => "delete" %>
  <% end %>
</ul>

<%= link_to "New Question", new_question_path, class: "btn btn-info" %>
